body {
    padding: 50px;
    background-color: beige;
    }
    h1 {
    color: brown;
    }
.titulo{
    color: red
}
.fnt-blue{
    color: blue
}

.imagen{
    width: 33%;
    height: 600px;
    /* margin: auto; */
    display: inline-block;
    align-content: center;
}
.titulo{
    color: mediumaquamarine;
    font-size: 30px;
    font-style: italic;
}
.texto{
    color: blue;
    font-size: 15px
}
.destacado{
    font-style: italic
}
.bicis{
    width: 30%;

}
.dvi{
    width: 30%;
    background-color:beige;
    border-radius: 20px;
    padding: 10px; 
    display: inline-block;
}

#superior{
    text-align: center;
    width: 100%;
    background-color: blue;
    color: white;

}
#media{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
}
#inferior{
    text-align: center;
    width: 100%;
    background-color: red;
    color: white;
}
#entero{
    margin: auto;
  width: 20%;
  border: 1px solid black;
  font-size: 20px;
}